* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

/* #draggables {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: 0 auto;
} */

#draggables {
  display: flex;
  width: 900px;
  margin: 0 auto;
}

.draggable {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  margin: 0 10px;
}

#droppables {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.droppable {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
}
